<appSettings>
	<add key="PxPayUri" value="https://sec.paymentexpress.com/pxpay/pxaccess.aspx"/>
	<add key="PxPayUserId" value=""/>
	<add key="PxPayKey" value=""/>
	<add key="PxPayUrlSuccess" value="https://www.dpsdemo.com/SandboxSuccess.aspx"/>
	<add key="PxPayUrlFail" value="https://www.dpsdemo.com/SandboxSuccess.aspx"/>
	<add key="PxPayDefaultCurrencyInput" value="NZD"/>
	<add key="PxPayPurchaseReponseSample" value=""/>
	<add key="PxPayBillSetupResponseSample" value=""/>
	<add key="PxPayDpsBillingIdSample" value=""/>
</appSettings>